# data
data/*/labels
data/*/points
data/*/gt_database
data/*/training
data/*/testing
data/*/gt_database*
data/*/gt_database_mm*
*.pkl
*.zip

tools/PENet/pe.pth.tar
tools/TED-S.pth

build
output
pcdet.egg-info
__pycache__
ops
