numpy<1.23,>=1.20.3
torch>=1.1
numba==0.56.0
tensorboardX
easydict
pyyaml
scikit-image==0.19.2
tqdm
torch-tb-profiler==0.4.3
protobuf>5
waymo-open-dataset-tf-2-5-0
nuscenes-devkit==1.0.5
spconv-cu111
scipy
fire
shapely
matplotlib
opencv-python
addict
pyquaternion
awscli
open3d
pandas
future 
pybind11
tensorboard
Cython
prefetch-generator
tensorflow==2.9.1